.logo-name{
    color: #4ABDAC;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    &::after {
    	content: "Remember-Me";
    }

}

.logo-icon{
    background: url('./res/icon32.png');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    display: inline-block;
}
