.login-page{
	background-image: url('./../res/login-bg.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-page{
	text-align: center;
}

.login-input{
	display: inline-block;
	height: 43px;
	width: 240px;
	font-size: 30px;
	text-align: right;
	border-color: #7e5293;
    border-width: thin;
}

input::placeholder {
  color: #d9d9d9;
  padding-right: 7px;
}

.login-username{
	float: right;
	padding-right: 34.5%;
}

.login-password{
	padding-left: 33.7%;
	margin-top: 0.8%;
}

 .login-text{
	 font-family: 'Rubik', sans-serif;
 }

.enter-login{
	background-color: #7e5293;
	color: #ffffff;
	font-size: 25px;
	height: 50px;
    width: 500px;
	padding: 5px 22px;
	margin-top: 9px;
	font-weight: bold;
	cursor: pointer;
}

.app-text{
    color: #7e5293;
    font-family: 'Pacifico', cursive;
}

.logo{
	display: inline-block;
	margin-bottom: -1.5%;
	margin-top: -2.5%;
}

.logo-icon-login{
    background: url('./../res/icon.svg') no-repeat center center;
    background-size:contain;
    height: 130px;
    width: 130px;
    background-repeat: no-repeat;
	margin: 20% 0% -20% 50%;
}

.logo-name-login{
    font-size: 50px;
    display: inline-block;
    margin-left: 2%;
	margin-top: -0.7%;
    vertical-align: middle;
    &::after {
    	content: "Remember me";
    }
}
.welcome{
    font-size: 90px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    &::after {
    	content: "Welcome.";
    }
}
