.students-list-page{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	direction: rtl;
	background-image: url('./../res/list-bg.png');
	background-size: 1920px 1080px;
	background-repeat: repeat-y;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

	.logo{
		float: left;
	}
}

.students-list-page-title{
	font-size: 36px;
	font-weight: bold;
	color: #4ABDAC;
	text-align: center;
	margin-bottom: 10px;

}
.students-list-page{
	.student{
		width: 300px;
		height: 130px;
		background-color: #FFEEDD;
		float: right;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 1px solid #777799;
		border-radius: 5px;
		position: relative;
	}

	.student-list-details{
		color: #555555;
		font-size: 20px;
		display: inline-block;
		position: absolute;
		top: 50px;
		left: 15%;
	}

	.image{
		height: 110px;
		width: 100px;
		padding: 10px;
	}
}


