.create-message{
    float: right;

    .my-message-title{
        font-size: 20PX;
        font-weight: bold;
        text-align: center;

    }
    .message-text{
        width: 513px;
        height: 150px
    }

}
