.create-message{
    float: right;
    margin-right: 60px;

    .my-message-title{
        font-size: 18PX;
        font-weight: bold;
        text-align: center;
        margin-bottom: 6px;
    }

    .message-text{
        width: 513px;
        height: 150px;
        border: 2px solid #4ABDAC;
        border-radius: 5px;
    }

    .ramaining-size{
        text-align: right;
    }

    .sender-input{
        width: 293px;
        height: 30px;
        border: 1px solid #4ABDAC;
        border-radius: 5px;
        margin: auto;
        display: block;
    }

    .radio{
        position: relative;
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 14px;
        text-align: right;
    }
    .radio-label{
        display: inline-block;
    }
    .date-field{
        display: inline-block;
    }

    .radio-icon-envalope{
        @extend .icon;
        background: url('../../res/envelope.svg') no-repeat center center;
    }
    .radio-icon-user{
        @extend .icon;
        background: url('../../res/user.svg') no-repeat center center;
    }
    .radio-icon-clock{
        @extend .icon;
        background: url('../../res/clock.svg') no-repeat center center;
    }   
}

.icon{
    height: 17px;
    width: 25px;
    background-size: 70%;
    display: inline-block;
}

.message-input{
    display: inline-block;
}
