.create-message{
    float: right;

    .my-message-title{
        font-size: 18PX;
        font-weight: bold;
        text-align: center;
    }

    .message-text{
        width: 513px;
        height: 150px;
        border: 2px solid #4ABDAC;
        border-radius: 5px;
    }

    .ramaining-size{
        text-align: right;
    }

    .sender-input{
        width: 293px;
        height: 30px;
        border: 1px solid #4ABDAC;
        border-radius: 5px;
        margin: auto;
        display: block;
    }

    .radio{
        position: relative;
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 14px;
        text-align: right;
    }
    .radio-label{
        display: inline-block;
    }
    .date-field{
        display: inline-block;
    }
}
