.messages-slider{
	width: 765px;
	float: right;
	display: inline-block;
	right: 100px;
	cursor: default;
	padding: 2px 2px 2px 2px;
	border: 1px solid;
	border-left-color: #e6e6e6;
	border-right-color: #e6e6e6;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-color: transparent;
	border-bottom-color: transparent;

	.slick-slide {
		height:110px;
	}
	.slick-prev:before, .slick-next:before{
    	color:gray;
	}
}

.message{
	direction: rtl;
	background-color: #FCF6EF;
	border: 1px solid #555555;
	width: 255px;
	font-size: 14px;
	margin-right: 5px;
	border-radius: 3px;

	.message-body{
		color: #383838;
		padding: 8px;
		word-wrap: break-word;
	}

	.message-sender{
		color: #717171;
		font-style: italic;
		margin-left: 3px;
		margin-top: 10px;
		margin-bottom: 3px;
		padding-bottom: 3px;
		text-align: left;
	}
}
h2{
	text-align: right;
	margin-right: 150px;
	font-size: 24px;
}
