.student-details{
    border: 3px dotted #555555;
    width: 350px;
    height: 570px;
    margin-top: 15px;
    margin-left: 30px;

    .student-picture{
        width: 232px;
        height: 248px;

    }
}
